body {
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 20px;
}

p {
    margin-top: 10px;
}

p a {
    color: green;
    text-decoration: none;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.menu {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}
